<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="clearfix">
      <div class="container">
        <div class="header-left">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </div>
        <div class="header-right">
          <label for="open">
            <span class="hidden-desktop"></span>
          </label>
          <input type="checkbox" name="" id="open">
          <nav>
            <a href="{{site.url}}">Home</a>
            <a href="{{site.url}}/firewood.html">Firewood</a>
            <a href="{{site.url}}/about.html">About us</a>
            <a href="{{site.url}}/contact.html">Contact</a>
          </nav>
        </div>
      </div>
    </header>
    <section class="page-header" style="background-image: url({{site.url}}/assets/images/{{page.header_img | default: 'header.jpg'}})">
      <div class="overlay"></div>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          Copyright {{ 'now' | date: '%Y' }} © Nutt Development. All rights reserved.
        </span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
